.pane-bordered {
    -fx-padding: 15;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    /* Per dare un effetto card, puoi aggiungere anche un'ombra */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.5, 0, 2);
}
