.pane-bordered {
    -fx-padding: 15;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    /* Per dare un effetto card, puoi aggiungere anche un'ombra */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.5, 0, 2);
}

.button {
    -fx-background-color: #F8F8F8;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #E0E0E0;
    -fx-padding: 8px 15px;
    -fx-border-width: 1px;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #F0F0F0;
    -fx-border-color: #D0D0D0;
    -fx-text-fill: black;
}

Text {
    -fx-fill: #C27933;
}


#rules{
    -fx-text-fill: #C27933;
}

#rules:hover{
    -fx-text-fill: #7D3F0F;
}

#community_title:hover{
    -fx-fill: #7D3F0F;
}

#unsubscribeButton, #subscribeButton{
    -fx-background-color: #C27933;
    -fx-text-fill: white;
    -fx-border-color: #C27933;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-alignment: center;
}

#unsubscribeButton:hover, #subscribeButton:hover{
    -fx-background-color: #7D3F0F;
    -fx-text-fill: white;
    -fx-border-color: #7D3F0F;
    -fx-border-width: 0px 0px 2px 0px;
}

ScrollPane {
    -fx-background-color: #ffffff;
    -fx-background: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 5, 0.5, 0, 2);
}
