.background{
    -fx-background-color: #fff;
}
.search-button{
    -fx-background-color: #f0f2f5;
    -fx-background-radius: 50;
}

.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.context-menu {
    -fx-min-width: 0px;
    -fx-padding: 0px;
}

.custom-menu-item {
    -fx-padding: 0px;
}