.text-field {
    -fx-background-color: #F8F8F8;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 8px 15px;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 1px;
    -fx-prompt-text-fill: #757575;
    -fx-text-fill: #333333;
    -fx-pref-width: 320;
}

.text-field:hover {
    -fx-background-color: #F0F0F0;
    -fx-border-color: #D0D0D0;
}

.text-field:focused {
    -fx-background-color: white;
    -fx-border-color: #999999;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.context-menu {
    -fx-padding: 0;
    -fx-pref-width: 320;
    -fx-background-radius: 0 0 20px 20px;
    -fx-background-color: #FAFAFA;
    -fx-border-radius: 0 0 20px 20px;
    -fx-border-color: #E0E0E0;
    -fx-border-width: 0 1px 1px 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 4, 0, 0, 2);
}

.menu-item {
    -fx-padding: 5 10;
    -fx-text-fill: #333333;
}

.context-menu .menu-item:hover, .context-menu .menu-item:focused {
    -fx-background-color: #f0f2f5;
    -fx-text-fill: black;
}

.context-menu .menu-item .label {
    -fx-text-fill: black;
}
